# DDI Predict - Environment Variables

# The port the API will run on locally and in Docker
PORT=5005

# Set to 'development' for local traceback logs, set to 'production' for Waitress WSGI
FLASK_ENV=production
